<div class="container">
  <h1>Drink Börse</h1>

  <div class="section">
    <h2>Fetch from API</h2>
    <mat-slide-toggle
      class="slide-toggle"
      [(ngModel)]="useAPI">
      Slide me!
    </mat-slide-toggle>

    <div *ngIf="useAPI">
      <input type="url" [(ngModel)]="apiUrl" placeholder="Enter API URL">
      <button (click)="setToApi()">Submit</button>
    </div>
  </div>

  <div *ngIf="!useAPI" class="section">
    <h2>Available Drinks</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Drink</th>
        <th>Price</th>
      </tr>
      </thead>
      <div *ngIf="this.drinks.length === 0; else elseBlock">
        <h3>No drinks added yet!</h3>
        <h5>Add drinks below</h5>
      </div>
      <ng-template #elseBlock>
        <tbody *ngFor="let drink of this.drinks; let i = index">
        <tr>
          <td><span style="color: white;">{{ drink.name }}</span></td>
          <td><span class="price"> {{ drink.price }}€ </span>
            <button (click)="deleteDrink(drink.name)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </tr>
        <!-- More rows can be added dynamically -->
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="!useAPI" class="section new-drink-form">
    <h2>Add New Drink</h2>
    <label for="drinkName">Drink Name</label>
    <input [(ngModel)]="addDrinkNameInput"
           (keydown.enter)="confirmAddDrink()"
           type="text" id="drinkName" placeholder="Enter drink name">

    <label for="drinkPrice">Price (€)</label>
    <input [(ngModel)]="addDrinkPriceInput"
           (keydown.enter)="confirmAddDrink()"
           type="number" id="drinkPrice" placeholder="Enter drink price">

    <button (click)="confirmAddDrink()">
      Add New Drink
    </button>
  </div>

  <div class="section">
    <h2>Synchronisation Time</h2>
    <span style="color: white; padding-bottom: 15px;">Stellt Aktualisierungszeit der Applikation ein</span>
    <input style="margin-top: 10px;" id="inputtime" type="number" #timeref placeholder="Zeit in min">
    <span style="color: white; margin-right: 15px;">Standard: 5 min</span>
    <button (click)="updateTime(timeref.value)">Übernehmen</button>
  </div>
</div>

<footer>
  <p>© 2024 Drink Börse</p>
</footer>
